.git 
.vscode
.dockerignore
.gitignore
.env
config
build
node_modules
docker-compose.dev.ymal
docker-compose.prod.ymal
docker-compose.ymal
Dockerfile
Dockerfile.dev
Dockerfile.prod
Makefile
README.md    